<div class="container mt-2">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-header">Accounts</div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="searchAccountByID()">
            <div class="input-group">
              <label class="input-group-text">Account Id :</label>
              <input type="text" formControlName="accountId" class="form-control">
              <button class="btn btn-info">
                <i class="bi bi-search"></i>
                Search
              </button>
            </div>
          </form>

          <ng-container *ngIf="accountObservable | async as accountDetails">
            <table class="table table-bordered mt-3">
                <thead>
                  <tr>
                    <th scope="col">Account ID</th>
                    <th scope="col">Balance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{accountDetails.accountId}}</td>
                    <td>{{accountDetails.balance | number : '1.2-2'}}</td>
                  </tr>
                </tbody>
            </table>

            <table class="table table-bordered mt-3">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let op of accountDetails.accountOperationDTOS">
                <td>{{op.id}}</td>
                <td>{{op.operationDate | date : 'dd-MM-yyyy : HH-mm-ss'}}</td>
                <td>{{op.type}}</td>
                <td class="text-end">{{op.amount | number : '1.2-2'}}</td>
              </tr>
              </tbody>
            </table>


          </ng-container>



        </div>
      </div>
    </div>

  </div>
</div>
